.home-page{
    min-height: 100vh;
    position: relative;
}
.home-bg-div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
    
}
.main-content{
    background: #f8f9fa !important;
    padding: 0px !important;
    /* padding: 20px 0; */
}