.navbar {
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.3) !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 95%;
}

.navbar-brand span.icon {
  font-size: 1.5rem;
}
